/*--------------------------------------------------*\
  =Headings
\*--------------------------------------------------*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: font('regular');
  font-weight: bold;
  line-height: 1.2;
  margin: typ('line-height-computed') * 2 0 typ('line-height-computed') * 1.25;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 28px;
}

h4, .h4 {
  font-size: 24px;
}

h5, .h5 {
  font-size: 20px;
}

h6, .h6 {
  font-size: 18px;
}