/*--------------------------------------------------*\
  =Selection
\*--------------------------------------------------*/

::selection {
  color: black;
  background-color: #b3d4fc;
  text-shadow: none;
}