/*--------------------------------------------------*\
  =Text Elements
\*--------------------------------------------------*/

abbr[title],
acronym[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

abbr a {
  text-decoration: none;
}

address {
  font-style: normal;
}

b, strong {
  font-weight: bold;
}

del, s, strike {
  text-decoration: line-through;
}

details {
  cursor: pointer;
}

figcaption {
  margin: .3em 0;
  font-style: italic;
}

i, em {
  font-style: italic;
}

mark {
  background-color: color('brand');
  color: black;
  text-decoration: none;
  padding: 1px 6px;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

small {
  font-size: 80%;
}

u, ins {
  text-decoration: underline;
}