/*--------------------------------------------------*\
  =Main
\*--------------------------------------------------*/

.main {
  overflow: hidden;
  padding-bottom: 70px;
  padding-top: 70px;



  /**
   * MQ
   */
  
  @include mq(smart) {
    padding-top: 90px;
  }

}