// Colors
$colors: (
  'brand':       #42b983,
  'brand-dark':  #1a7a4f,

  'muted':       #cccccc,
  'muted-light': #ededed,
  'muted-dark':  #6e6e6e,
  'danger':      #ed2129,
  'text':        #000000,
  'success':     #14c149,

  'twitter':     #1da1f2,
  'facebook':    #3b5998,
  'vk':          #507299,
  'gplus':       #dd4b39,
  'instagram':   #c13584
);


// Fonts
$fonts: (
  'base': (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif),
  'monospace': ("SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace)
);


// Base typography
$typography: (
  'font-family':          font('base'),
  'font-size':            16px,
  'line-height':          1.5,
  'line-height-computed': 16px * 1.5
);



// Project
$container-width:  1200px;
$transition-base:  150ms;



// Breakpoints
$breakpoints: (
  mobile:  320px,
  smart:   480px,
  phablet: 600px,
  tablet:  760px,
  desktop: 970px,
  wide:    1200px
);


// Sass MQ settings
$mq-breakpoints: $breakpoints;